
.coffee-vs-tea-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.coffee-vs-tea-content {
  flex-grow: 1;  
  text-align: center;
  margin-bottom: 100px;
}

.coffee-vs-tea-title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 40px;
  color:White;
  height: 140px;
  background-color: rgb(59, 58, 58);
  width: 1000px;
}

.coffee-vs-tea-description {
  font-size: 2rem;
  color:white;
  font-weight: bolder;
  padding: 20px;
  margin-bottom: 20px;
}

#coffee-vs-tea-section{
  background-image: url('../img/bg-coffee.jpg');
  background-repeat: no-repeat;
  place-self: center;
  width:1000px;
  height: 800px;
  overflow: hidden;
}