.plants-page {
  font-family: Arial, sans-serif;
}

.plants-content {
  margin: 20px;
}

      /* Gallery section to display plant cards */
  .plants-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
    background-image: '../img/spiderPlant.jpg'
      
 }

.plants-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.plants-description {
  text-align: center;
  font-size: 1.2em;
}

.plants-table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

.plants-table th, .plants-table td {
  padding: 15px;
  border: 1px solid #ddd;
}

.plants-table th {
  background-color: #f4f4f4;
  font-size: 1em;
}

.plants-table td img {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}

.plants-table td {
  font-size: 1.1em;
  color: #333;
}

.plants-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.plants-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.plants-table td:last-child {
  font-weight: bold;
  color: #2d6a4f;
}

@media (max-width: 768px) {
  .plants-table {
    font-size: 0.9em;
  }

  .plants-table td img {
    max-width: 100px;
  }
}
